{% extends "base.html" %}

{% block page_id %}about{% endblock %}
{% block title %}About and FAQ{% endblock %}
{% block description %}Information and frequently asked questions on how Fed A11y measures accessibility and how to share feedback.{% endblock %}

{% block content %}

<div class="container">
  
  <div class="row">
    <div class="col-sm-3">
      <nav role="navigation" id="toc" class="sticky-top" style="padding-top: 65px;"></nav>
  </div>
  
  <div class="col-sm-7">
    <section id="main-content" role="region" aria-labelledby="title">
      <header>
        <h1 id="title">About Fed A11y</h1>
          <p>Fed A11y monitors the web accessibility of U.S. Federal Government websites.</p>
          <p>You can <a href="{{ url_for('main.analytics') }}">explore the data</a> or download it in <a href={{ url_for('main.data', ext='json') }}>JSON</a> or <a href={{ url_for('main.data', ext='csv') }}>csv</a> format.</p>
          <p>You can report accessibility issues for a website to the relevant government authority via email from right within the <a href="{{ url_for('main.analytics') }}">data table</a>.</p>
          <p>Finally, you can learn about accessibility and how this site monitors it by reading on and checking out our <a href="{{ url_for('main.faq') }}">FAQ</a>.</p>
      </header>
      
      <h2>Web Accesibility</h2>
      
        <p>Web accessibility is about ensuring that people with different abilities can access, understand, and navigate web content, regardless of how they’re accessing it.</p>
        <p><a class="external-link" href="https://www.access-board.gov/the-board/laws/rehabilitation-act-of-1973#508" target="_blank">Section 508 of the Federal Rehabilitation Act of 1973 <i class="fa fa-external-link"></i></a> requires the Federal government agencies to produce websites that are accessible at "comparable" levels to government employees and members of the public with a disability.</p>
        <p><a class="external-link" href="https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards#22" target="_blank">Paragraph 1194.22 of the law <i class="fa fa-external-link"></i></a> lays out the accessibility requirements for websites, and those are the standards against which we measure each website.</p>
        
      <h2>Why Accessibility Is Important</h2>
        
        <p>First, citizens should be able to access the government resources that they are entitled to.</p>
        <p>Second, web accessibility is a legal requirement for Federal Agencies.</p>
        <p>To put this into perspective, consider the follow statistics published by the US Census Bureau in 2012:</p>
        <ul>
          <li>19.9 million Americans (8.2% of the population) have difficulty lifting or grasping, which could impact their usage of a mouse or keyboard.</li>
          <li>8.1 million (3.3%) have a vision impairment, which could require them to use a screen magnifier or a screen reader.</li>
          <li>7.6 million (3.1%) have a hearing impairment, which could require them to rely on transcripts and/or captions for audio and video media.</li>
        </ul>
        <p>For more information, see the report <a href="https://www.census.gov/newsroom/releases/archives/facts_for_features_special_editions/cb12-ff16.html" target="_blank">Americans with Disabilities: 2010 <i class="fa fa-external-link"></i></a> on the Census Bureau's website.</p>
          
      <h2>What Does Fed A11y Do?</h2>
        <p>We use <a class="external-link" href="https://pa11y.org/" target="_blank">pa11y <i class="fa fa-external-link"></i></a> to scan US Federal government websites using a <a class="external-link" href="https://github.com/pa11y/pa11y/wiki/HTML-CodeSniffer-Rules#section508" target="_blank">Section 508 Ruleset <i class="fa fa-external-link"></i></a> to identify some - but not all - of the accessibility shortcomings in some - but not all - U.S. Federal Government websites.</p>
        <p>If you're interested in the code behind all of this, both Fed A11y's <a class="external-link" href="https://www.github.com/csmcallister/fed-a11y-scan" target="_blank">backend <i class="fa fa-external-link"></i></a> and <a class="external-link" href="https://www.github.com/csmcallister/fed-a11y" target="_blank">frontend <i class="fa fa-external-link"></i></a> are open source.</p>
        
      <h2>Limitations</h3>
        <p>Automated accessibility testing software cannot identify every accessibility issue. Take these two examples:</p>
        <ul>
          <li>Although we can automatically check if an image has an alt text attribute, we cannot determine if that alt text is actually describing the image. For example, the scan would not flag a picture of a hotdog that has an alt text attribute that reads “not a hotdog”. In reality, the alt text is incorrect and the image is therefore not accessible.</li>
          <li>Although we can detect the background color and text color by reading a page’s Cascading Style Sheets (CSS), we may not be able to detect the color of an image itself. If dark text is overlayed on a dark background image, we would not be able to measure whether the level of contrast is sufficient.</li>
        </ul>
        <p>Another limitation is that we don't have access to the complete list of .gov websites. We do our best by starting with the <a class="external-link" href="https://github.com/GSA/data/tree/master/dotgov-domains" target="_blank">General Services Administration's official list <i class="fa fa-external-link"></i></a>, but this isn't exhaustive and is additionally prone to typos and inconsistencies in Agency and Organization names.</p>
        <p>Finally, we do not completely index the websites that we scan. We only scan their home pages.</p>
        <p>It is for these reasons that fully assessing a site’s accessibility still requires manual evaluation by an accessibility professional.</p>
      
      <h2>Disclaimers</h3>
        <p>Let the legal hand-waving commence:</p>
        <ul>
          <li>Fed A11y <strong><u>does not</u> provide a complete accessibility evaluation</strong> and is not intended to replace an authoritative Section 508 conformance assessment.</li>
          <li>Fed A11y's automated accessibility testing addresses a mere portion of what’s required in order to determine if a website is fully accessible. As a result, it's possible for manual accessibility testing to be reveal false positives/negatives. People should therefore use both manual and automated tests to fully assess whether their website is accessible.</li>
          <li>Only a professional can perform a complete accessibility evaluation. For testing guidance, they can refer to the <a class="external-link" href="https://www.dhs.gov/sites/default/files/publications/Baseline_Tests_for_Software_and_Web_Accessibility_3.pdf" target="_blank">Harmonized Testing Process for Section 508 Compliance: Baseline Tests for Software and Web Accessibility <i class="fa fa-external-link"></i></a>.</li>
        </ul>
    </section>	
  </div>
</div>

<script src="{{ url_for('static', filename='js/faq.js') }}"></script>

{% endblock %}
