{% extends 'base.html' %}

{% block page_id %}index{% endblock %}
{% block title %}Home{% endblock %}
{% block description %}Automated Section 508 accessibility scans of US Federal Government websites. You can explore and download the Section 508 accessibility scan data for any government website or all of them!{% endblock %}

{% block content %}
<section id="main-content" role="region" aria-labelledby="title">
    <div class="container">
      <div class="row align-items-center">
         <div class="col text-center">
           <header>
             <h1 id="title">Fed A11y</h1>
           </header>
           <p>Automated Monitoring of the Section 508 Accessibility of {{n_domains}} US Federal Government Websites</p>
           <button id="chart-button" class="btn" aria-label="Toggle between displaying current and historical accessibility compliance in the chart below">View Historical Compliance</button>
         </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="container-canvas">
                <canvas id="donut" aria-label="Donut chart showing {{percent_inaccessible}} percent of US Government websites have at least one accessibility issue. {{n_domains_without_issues}} don't have accessibility issues while {{n_domains_with_issues}} do."" role="img"></canvas>  
                <canvas id="line" role="img"></canvas>
            </div>
        </div>
      </div>
    </div>
</section>

<script>

const percentAccessible = {{100-percent_inaccessible}}
const nDomainsNoIssues = {{n_domains_without_issues}}
const nDomainsIssues = {{n_domains_with_issues}}
const history = {{hist|tojson|safe}}
const labels = history.map(o => Object.keys(o)[0])
const lineData = history.map(o => o[Object.keys(o)[0]])

</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
{% endblock %}