{% extends "base.html" %}

{% block page_id %}internalservererror{% endblock %}
{% block title %}500{% endblock %}
{% block description %}500 Internal Server Error{% endblock %}

{% block content %}

<section id="main-content" role="region" aria-labelledby="title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>Woah!</h1>
          <h2>500 Internal Server Error</h2>
          <div class="error-details">
              Sorry, but it looks like we broke something and can't fufill your request. Rest assured that an admin has been notified by email.
          </div>
          <div class="error-actions">
            <a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Take Me Home </a>
            <a href="https://www.github.com/csmcallister/fed-a11y/issues" class="btn btn-primary btn-lg"><i class="fa fa-github"></i> Open an Issue on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}